{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404 - Aero Edge Media</title>
    <link rel="stylesheet" href="{% static 'myapp/css/style.css' %}">
    <link rel="icon" href="{% static 'myapp/images/favicon.png' %}">
</head>
<body>
    
    <!-- Section Header -->
    <header>
        <!-- Section Navbar -->
        <div id="header"></div>
        {% include 'header.html' %}
    </header>

    <!-- Section Content Edit -->
    <aside>
        <div id="edit-sidebar"></div>
    </aside>


    <!-- Section Sidebar -->
    <aside>
        {% include 'sidebar.html' %}
        <div id="sidebar"></div>
    </aside>

    <!-- Section Main Content -->
    <main>
        <!-- Section Banner -->
        <div class="section-404">
            <div class="banner-layout-404">
                <div class="layout-404">
                    <span class="text-404 title-heading animate-box animated animate__animated" data-animate="animate__fadeInRight">404</span>
                    <h3>Oops! Page Not Found</h3>
                    <p>We couldn't find the page you're looking for. It might have been removed, renamed, or never existed.</p>
                    <div>
                        <a href="{% url 'home' %}" class="btn btn-accent">
                            <div class="btn-title">
                                <span>Back to Home</span>
                            </div>
                            <div class="icon-circle">
                                <i class="fa-solid fa-arrow-right"></i>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <!-- Section Footer -->
    <footer>
        {% include 'footer.html' %}
        <div id="footer"></div>
    </footer>

    <!-- Vendor JS -->
    <script src="{% static 'myapp/js/vendor/jquery.min.js' %}"></script>
    <script src="{% static 'myapp/js/vendor/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'myapp/js/vendor/isotope.pkgd.min.js' %}"></script>
    <script src="{% static 'myapp/js/vendor/swiper-bundle.min.js' %}"></script>

    <!-- Core Functional JS -->
    <script src="{% static 'myapp/js/swiper-script.js' %}"></script>
    <script src="{% static 'myapp/js/video_embedded.js' %}"></script>
    <script src="{% static 'myapp/js/themeswitch.js' %}"></script>
    <script src="{% static 'myapp/js/submit-form.js' %}"></script>

    <!-- Your Main App Script (should be last) -->
    <script src="{% static 'myapp/js/script.js' %}"></script>
</body>
</html>