{% load static %}
<div>
    <div class="content-overlay">
        <div class="content-edit-sidebar">
            <div class="sidebar-header">
                <div></div>
                <div class="close-btn-second">
                    <i class="fa-solid fa-xmark"></i>
                </div>
            </div>
            <div class="content">
                <span>Click on the Edit Content button to edit/add the content.</span>
            </div>
        </div>
    </div>
</div>

<div>
    <div class="sidebar-overlay"></div>
    <div class="sidebar" id="sidebar">
        <div class="sidebar-header">
            <div class="logo">
                <img src="{% static 'myapp/images/aero-logo.png' %}" class="site-logo img-fluid logo" alt="Logo">
            </div>
            <button class="close-btn"><span>X</span></button>
        </div>
        <ul class="menu">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About Us</a></li>
            <li><a href="{% url 'services' %}">Services</a></li>
            <li class="sidebar-dropdown">
                <div class="dropdown-header">
                    <a href="#">Explore</a>
                    <button class="sidebar-dropdown-btn"><i class="fa-solid fa-angle-down"></i></button>
                </div>
                <ul class="sidebar-dropdown-menu">
                            <li><a href="{% url 'partnership' %}">Partnership</a></li>
                            <li><a href="{% url 'pricing' %}">Princing Plan</a></li>
                            <li><a href="{% url 'testimonial' %}">Testimonial</a></li>
                            <li><a href="{% url 'faq' %}">FAQs</a></li>
                </ul>
            </li>              
            
     
            <li class="below-dropdown"><a href="{% url 'contact' %}">Contact Us</a></li>
        </ul>
    </div>
</div>